---
import SuccessComponent from "../components/SuccessComponent.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width
  , initial-scale=1.0" />
    <title>Tu sistema - Optimiza tus procesos</title>
    <meta
      name="description"
      content="Descubre cómo Tu Sistema puede ayudarte a optimizar procesos y mejorar la eficiencia de tu negocio con herramientas intuitivas."
    />
    <meta
      name="keywords"
      content="software, productividad, optimización, negocios"
    />
    <meta name="robots" content="index, follow" />
  </head>
  <body>
    <SuccessComponent headerSend="¡Archivo enviado!", bodySend="El archivo ha sido enviado a tu correo electrónico. Por favor revisa tu bandeja de entrada (y la carpeta de spam).", buttonText="Volver al inicio" />

    <Footer />
  </body>
</html>
